html {
  font-family: 'Ubuntu Condensed', sans-serif;
  background-image: url("../images/starfield.png");
}

.banner-content {
  color: #fff;
}

.btn {
  border-color: #b4fff4;
}

.btn-ghost {
  color: #b4fff4;
  border-radius: 8px;
}

.btn-bottom .btn{
  border-top: 0;
  width: 142.9px;
}
.btn-bottom .btn-ghost {
  border-radius: 5px;
}
